# Kaggle Competition: Digit Recognizer with MNIST
https://www.kaggle.com/c/digit-recognizer

I've got some experience coding and using tensorflow at this point, but I've only done regression problems. I'd like to try my hand at my first computer vision/classification problem, and build my first convolutional neural network in tensorflow. 

## Setup
Let's begin the setup by importing the necesary libraries and datasets.

In [6]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import math as m
import os
import hashlib
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
pd.options.display.float_format = '{:.5f}'.format

filepath = os.path.join(os.getcwd(),"Data")

train = pd.read_csv(os.path.join(filepath,"train.csv"), index_col = None)
"Training Dataset Size (Rows, Columns): " + str(train.shape)

test = pd.read_csv(os.path.join(filepath,"test.csv"), index_col = None)
"Testing Dataset Size (Rows, Columns): " + str(test.shape)

'Training Dataset Size (Rows, Columns): (42000, 785)'

'Testing Dataset Size (Rows, Columns): (28000, 784)'

https://www.kaggle.com/c/digit-recognizer/data

According to the above link, the images are 28 x 28 pixel (784 pixels in total) grayscale images of handwritten digits, 0 through 9. The first column in the training set is the actual handwritten digit. 

The first 28 columns (columns 000 to 027) are of the darkness levels (0 being white, and 255 being completely black) of the top most row of 28 pixels. Columns 028 to 055 are the second row from the top's darkness levels, and so on. 

## Data exploration and cleanup

In [14]:
train.head(n=3)
test.head(n=3)
print("There are " + str(train.isnull().sum().sum()) + " missing labels in the training dataset.")
print("There are " + str(train.isnull().sum().sum()) + " missing labels in the testing dataset.")

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

There are 0 missing labels in the training dataset.
There are 0 missing labels in the testing dataset.