In [1]:
import pandas as pd
import os
import hashlib
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

filepath = os.path.join(os.getcwd(),"Data")
labeled_dataset = pd.DataFrame.from_csv(os.path.join(filepath,"train.csv"), index_col = None)
"Dataset Size (Rows, Columns): " + str(labeled_dataset.shape)

'Dataset Size (Rows, Columns): (188318, 132)'

In [4]:
labeled_dataset.head(n=7) #mix of categorical and continuous variables

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
5,13,A,B,A,A,A,A,A,A,B,...,0.364464,0.401162,0.26847,0.46226,0.50556,0.366788,0.359249,0.345247,0.726792,5142.87
6,14,A,A,A,A,B,A,A,A,A,...,0.381515,0.363768,0.24564,0.40455,0.47225,0.334828,0.352251,0.342239,0.382931,1132.22

In [3]:
labeled_dataset.isnull().sum().sum() #no missing data!

0

In [25]:
labeled_dataset.iloc[:,0:-15].head(n=7) #categorical variables, and id number

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,1,A,B,A,B,A,A,A,A,B,...,J,G,BU,BC,C,AS,S,A,O,LB
1,2,A,B,A,A,A,A,A,A,B,...,K,K,BI,CQ,A,AV,BM,A,O,DP
2,5,A,B,A,A,B,A,A,A,B,...,F,A,AB,DK,A,C,AF,A,I,GK
3,10,B,B,A,B,A,A,A,A,B,...,K,K,BI,CS,C,N,AE,A,O,DJ
4,11,A,B,A,B,A,A,A,A,B,...,G,B,H,C,C,Y,BM,A,K,CK
5,13,A,B,A,A,A,A,A,A,B,...,F,B,BI,CS,A,AS,AE,A,K,DJ
6,14,A,A,A,A,B,A,A,A,A,...,F,B,BI,DK,A,J,AF,A,K,DJ

In [26]:
labeled_dataset.iloc[:,0:-15].nunique()

id        188318
cat1           2
cat2           2
cat3           2
cat4           2
cat5           2
cat6           2
cat7           2
cat8           2
cat9           2
cat10          2
cat11          2
cat12          2
cat13          2
cat14          2
cat15          2
cat16          2
cat17          2
cat18          2
cat19          2
cat20          2
cat21          2
cat22          2
cat23          2
cat24          2
cat25          2
cat26          2
cat27          2
cat28          2
cat29          2
           ...
cat87          4
cat88          4
cat89          8
cat90          7
cat91          8
cat92          7
cat93          5
cat94          7
cat95          5
cat96          8
cat97          7
cat98          5
cat99         16
cat100        15
cat101        19
cat102         9
cat103        13
cat104        17
cat105        20
cat106        17
cat107        20
cat108        11
cat109        84
cat110       131
cat111        16
cat112        51
cat113        61
cat114        19
cat115        23
cat116       326
Length: 117, dtype: int64